In [1]:
import pandas as pd

df = pd.read_csv("C:/Users/rupas/Desktop/Sentiment Analysis/sentimentdataset.csv")
df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19

In [2]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  732 non-null    int64
 1   Unnamed: 0    732 non-null    int64
 2   Text          732 non-null    object
 3   Sentiment     732 non-null    object
 4   Timestamp     732 non-null    object
 5   User          732 non-null    object
 6   Platform      732 non-null    object
 7   Hashtags      732 non-null    object
 8   Retweets      732 non-null    float64
 9   Likes         732 non-null    float64
 10  Country       732 non-null    object
 11  Year          732 non-null    int64
 12  Month         732 non-null    int64
 13  Day           732 non-null    int64
 14  Hour          732 non-null    int64
dtypes: float64(2), int64(6), object(7)
memory usage: 85.9+ KB

,Unnamed: 0.1,Unnamed: 0,Retweets,Likes,Year,Month,Day,Hour
count,732.000000,732.000000,732.000000,732.000000,732.000000,732.000000,732.000000,732.000000
mean,366.464481,369.740437,21.508197,42.901639,2020.471311,6.122951,15.497268,15.521858
std,211.513936,212.428936,7.061286,14.089848,2.802285,3.411763,8.474553,4.113414
min,0.000000,0.000000,5.000000,10.000000,2010.000000,1.000000,1.000000,0.000000
25%,183.750000,185.750000,17.750000,34.750000,2019.000000,3.000000,9.000000,13.000000
50%,366.500000,370.500000,22.000000,43.000000,2021.000000,6.000000,15.000000,16.000000
75%,549.250000,553.250000,25.000000,50.000000,2023.000000,9.000000,22.000000,19.000000
max,732.000000,736.000000,40.000000,80.000000,2023.000000,12.000000,31.000000,23.000000

In [3]:
total_null_values = df.isnull().sum()
total_null_values #there is no missing values

Unnamed: 0.1    0
Unnamed: 0      0
Text            0
Sentiment       0
Timestamp       0
User            0
Platform        0
Hashtags        0
Retweets        0
Likes           0
Country         0
Year            0
Month           0
Day             0
Hour            0
dtype: int64

In [4]:
#Data Cleaning

df = df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0']) #removing unnecessary columns
df = df.drop_duplicates()#removing duplicates rows
df

,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,Collaborating on a science project that receiv...,Happy,2017-08-18 18:20:00,ScienceProjectSuccessHighSchool,Facebook,#ScienceFairWinner #HighSchoolScience,20.0,39.0,UK,2017,8,18,18
728,Attending a surprise birthday party organized ...,Happy,2018-06-22 14:15:00,BirthdayPartyJoyHighSchool,Instagram,#SurpriseCelebration #HighSchoolFriendship,25.0,48.0,USA,2018,6,22,14
729,Successfully fundraising for a school charity ...,Happy,2019-04-05 17:30:00,CharityFundraisingTriumphHighSchool,Twitter,#CommunityGiving #HighSchoolPhilanthropy,22.0,42.0,Canada,2019,4,5,17
730,"Participating in a multicultural festival, cel...",Happy,2020-02-29 20:45:00,MulticulturalFestivalJoyHighSchool,Facebook,#CulturalCelebration #HighSchoolUnity,21.0,43.0,UK,2020,2,29,20
731,Organizing a virtual talent show during challe...,Happy,2020-11-15 15:15:00,VirtualTalentShowSuccessHighSchool,Instagram,#VirtualEntertainment #HighSchoolPositivity,24.0,47.0,USA,2020,11,15,15

In [5]:

df['Sentiment']=df['Sentiment'].str.strip()#Stripping out extra epaces
unique_sentiments = df['Sentiment'].unique()
unique_sentiments

array(['Positive', 'Negative', 'Neutral', 'Anger', 'Fear', 'Sadness',
       'Disgust', 'Happiness', 'Joy', 'Love', 'Amusement', 'Enjoyment',
       'Admiration', 'Affection', 'Awe', 'Disappointed', 'Surprise',
       'Acceptance', 'Adoration', 'Anticipation', 'Bitter', 'Calmness',
       'Confusion', 'Excitement', 'Kind', 'Pride', 'Shame', 'Elation',
       'Euphoria', 'Contentment', 'Serenity', 'Gratitude', 'Hope',
       'Empowerment', 'Compassion', 'Tenderness', 'Arousal', 'Enthusiasm',
       'Fulfillment', 'Reverence', 'Despair', 'Grief', 'Loneliness',
       'Jealousy', 'Resentment', 'Frustration', 'Boredom', 'Anxiety',
       'Intimidation', 'Helplessness', 'Envy', 'Regret', 'Curiosity',
       'Indifference', 'Numbness', 'Melancholy', 'Nostalgia',
       'Ambivalence', 'Determination', 'Zest', 'Hopeful', 'Proud',
       'Grateful', 'Empathetic', 'Compassionate', 'Playful',
       'Free-spirited', 'Inspired', 'Confident', 'Bitterness', 'Yearning',
       'Fearful', 'Apprehensive', 'Overwhelmed', 'Jealous', 'Devastated',
       'Frustrated', 'Envious', 'Dismissive', 'Thrill', 'Bittersweet',
       'Overjoyed', 'Inspiration', 'Motivation', 'Contemplation',
       'JoyfulReunion', 'Satisfaction', 'Blessed', 'Reflection',
       'Appreciation', 'Confidence', 'Accomplishment', 'Wonderment',
       'Optimism', 'Enchantment', 'Intrigue', 'PlayfulJoy', 'Mindfulness',
       'DreamChaser', 'Elegance', 'Whimsy', 'Pensive', 'Harmony',
       'Creativity', 'Radiance', 'Wonder', 'Rejuvenation', 'Coziness',
       'Adventure', 'Melodic', 'FestiveJoy', 'InnerJourney', 'Freedom',
       'Dazzle', 'Adrenaline', 'ArtisticBurst', 'CulinaryOdyssey',
       'Resilience', 'Immersion', 'Spark', 'Marvel', 'Heartbreak',
       'Betrayal', 'Suffering', 'EmotionalStorm', 'Isolation',
       'Disappointment', 'LostLove', 'Exhaustion', 'Sorrow', 'Darkness',
       'Desperation', 'Ruins', 'Desolation', 'Loss', 'Heartache',
       'Solitude', 'Positivity', 'Kindness', 'Friendship', 'Success',
       'Exploration', 'Amazement', 'Romance', 'Captivation',
       'Tranquility', 'Grandeur', 'Emotion', 'Energy', 'Celebration',
       'Charm', 'Ecstasy', 'Colorful', 'Hypnotic', 'Connection', 'Iconic',
       'Journey', 'Engagement', 'Touched', 'Suspense', 'Triumph',
       'Heartwarming', 'Obstacle', 'Sympathy', 'Pressure',
       'Renewed Effort', 'Miscalculation', 'Challenge', 'Solace',
       'Breakthrough', 'Joy in Baking', 'Envisioning History',
       'Imagination', 'Vibrancy', 'Mesmerizing', 'Culinary Adventure',
       'Winter Magic', 'Thrilling Journey', "Nature's Beauty",
       'Celestial Wonder', 'Creative Inspiration', 'Runway Creativity',
       "Ocean's Freedom", 'Whispers of the Past', 'Relief', 'Embarrassed',
       'Mischievous', 'Sad', 'Hate', 'Bad', 'Happy'], dtype=object)

In [6]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], errors='coerce')#converting timestamp to consistent datetime format

In [7]:
import re
#removing the unwanted characters, spaces, emojis and converting text to lower case for consistency

df['Text'] = df['Text'].apply(lambda x: re.sub(r'[^\w\s]','',str(x)).lower())
df['Text']

0       enjoying a beautiful day at the park         ...
1       traffic was terrible this morning            ...
2       just finished an amazing workout
3       excited about the upcoming weekend getaway   ...
4       trying out a new recipe for dinner tonight   ...
                             ...
727    collaborating on a science project that receiv...
728    attending a surprise birthday party organized ...
729    successfully fundraising for a school charity ...
730    participating in a multicultural festival cele...
731    organizing a virtual talent show during challe...
Name: Text, Length: 712, dtype: object

In [8]:
#removing 
#df['Hastags'] = df['Hashtags'].apply(lambda x: x.split()if pd.notna(x) else[])
df

,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,enjoying a beautiful day at the park ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,traffic was terrible this morning ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,just finished an amazing workout,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,excited about the upcoming weekend getaway ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,trying out a new recipe for dinner tonight ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,collaborating on a science project that receiv...,Happy,2017-08-18 18:20:00,ScienceProjectSuccessHighSchool,Facebook,#ScienceFairWinner #HighSchoolScience,20.0,39.0,UK,2017,8,18,18
728,attending a surprise birthday party organized ...,Happy,2018-06-22 14:15:00,BirthdayPartyJoyHighSchool,Instagram,#SurpriseCelebration #HighSchoolFriendship,25.0,48.0,USA,2018,6,22,14
729,successfully fundraising for a school charity ...,Happy,2019-04-05 17:30:00,CharityFundraisingTriumphHighSchool,Twitter,#CommunityGiving #HighSchoolPhilanthropy,22.0,42.0,Canada,2019,4,5,17
730,participating in a multicultural festival cele...,Happy,2020-02-29 20:45:00,MulticulturalFestivalJoyHighSchool,Facebook,#CulturalCelebration #HighSchoolUnity,21.0,43.0,UK,2020,2,29,20
731,organizing a virtual talent show during challe...,Happy,2020-11-15 15:15:00,VirtualTalentShowSuccessHighSchool,Instagram,#VirtualEntertainment #HighSchoolPositivity,24.0,47.0,USA,2020,11,15,15

In [9]:
#checking if Year, Month, Day and Hour datamatches with the timestamp

mismatch = df[
    (df['Year'] != df['Timestamp'].dt.year) |
    (df['Month'] != df['Timestamp'].dt.month) |
    (df['Day'] != df['Timestamp'].dt.day) |
    (df['Hour'] != df['Timestamp'].dt.hour)
]

print(mismatch)

Empty DataFrame
Columns: [Text, Sentiment, Timestamp, User, Platform, Hashtags, Retweets, Likes, Country, Year, Month, Day, Hour]
Index: []

In [10]:
#sampling 10 data to see if time stamp matches with year,month,day,hour column
print(df[['Timestamp', 'Year', 'Month', 'Day', 'Hour']].sample(10))

              Timestamp  Year  Month  Day  Hour
153 2012-03-30 11:20:00  2012      3   30    11
9   2023-01-17 12:20:00  2023      1   17    12
535 2016-02-28 20:30:00  2016      2   28    20
157 2016-02-10 19:45:00  2016      2   10    19
236 2023-02-22 17:00:00  2023      2   22    17
336 2017-11-08 21:20:00  2017     11    8    21
713 2023-10-11 16:45:00  2023     10   11    16
370 2022-08-10 22:00:00  2022      8   10    22
429 2020-04-02 14:20:00  2020      4    2    14
596 2023-06-05 10:00:00  2023      6    5    10

In [11]:
#Assuming timestamp column is correct and recomputing Year,month,day,hour column
df['Year']=df['Timestamp'].dt.year
df['Month']=df['Timestamp'].dt.month
df['Day']=df['Timestamp'].dt.day
df['Hour']=df['Timestamp'].dt.hour

df

,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,enjoying a beautiful day at the park ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,traffic was terrible this morning ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,just finished an amazing workout,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,excited about the upcoming weekend getaway ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,trying out a new recipe for dinner tonight ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,collaborating on a science project that receiv...,Happy,2017-08-18 18:20:00,ScienceProjectSuccessHighSchool,Facebook,#ScienceFairWinner #HighSchoolScience,20.0,39.0,UK,2017,8,18,18
728,attending a surprise birthday party organized ...,Happy,2018-06-22 14:15:00,BirthdayPartyJoyHighSchool,Instagram,#SurpriseCelebration #HighSchoolFriendship,25.0,48.0,USA,2018,6,22,14
729,successfully fundraising for a school charity ...,Happy,2019-04-05 17:30:00,CharityFundraisingTriumphHighSchool,Twitter,#CommunityGiving #HighSchoolPhilanthropy,22.0,42.0,Canada,2019,4,5,17
730,participating in a multicultural festival cele...,Happy,2020-02-29 20:45:00,MulticulturalFestivalJoyHighSchool,Facebook,#CulturalCelebration #HighSchoolUnity,21.0,43.0,UK,2020,2,29,20
731,organizing a virtual talent show during challe...,Happy,2020-11-15 15:15:00,VirtualTalentShowSuccessHighSchool,Instagram,#VirtualEntertainment #HighSchoolPositivity,24.0,47.0,USA,2020,11,15,15

In [12]:
print(df[['Timestamp', 'Year', 'Month', 'Day', 'Hour']].sample(10))

              Timestamp  Year  Month  Day  Hour
561 2019-09-28 20:30:00  2019      9   28    20
699 2023-09-27 17:30:00  2023      9   27    17
404 2016-11-15 11:45:00  2016     11   15    11
353 2021-09-10 09:45:00  2021      9   10     9
559 2018-12-15 20:15:00  2018     12   15    20
115 2014-09-14 08:30:00  2014      9   14     8
570 2018-06-15 22:00:00  2018      6   15    22
654 2023-08-13 20:00:00  2023      8   13    20
306 2021-02-28 22:45:00  2021      2   28    22
507 2019-01-10 14:45:00  2019      1   10    14